<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        <link href="{{ asset('assets/css/style.css')}}" rel="stylesheet" type="text/css">

        {% endblock %}
    </head>
    <body>
    	{% block header %}

    	<div id="header">

    		<h1> Pruebas Empresa Optime Consulting </h1>
    		<ul id="menu">
	    		<a href="{{path('products')}}">Inicio</a>
	    		<a href="{{path('category')}}">Categorías</a>
	    		<a href="{{path('producto')}}">Productos</a>
	    		<a href="{{path('register')}}">Registro</a>
                <a href="{{path('product_creation')}}">Crear-Producto</a>
	    	</ul>
	    </div>	
	    <div class="clearfix"></div>
    	{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
